*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #F3F9FB;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

.container {
    margin: 0 auto;
    width: 1440px;
}

h1 {
    color: #181D31;
    font-size: xx-large;
}

li {
    list-style: none;
    text-decoration: none;
    color: #181D31;
}

a {
    text-decoration: none;
    color: #181D31;  
    position: relative;
    display: inline-block;
    padding-bottom: 0.25rem;
}
a::before{
  content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.25s ease-out;
}
a:hover::after{
  color: #181D31;
  text-decoration: underline;
  width: 100%;
}

.btn {
    font-size: large;
    padding: 7px 14px;
   cursor: pointer;
    border-radius: 5px;
    border: 2px;
    background-color: #181D31;
    color: #F3F9FB;
    transition: 1s ease;
}

.btn:hover {
    background-color: #F3F9FB;
    /* border: 7px; */
    /* border-color: #181D31; */
    color: #181D31;
    transition: 0s ease;
    box-shadow: 0 0 0 1px #181D31;
}

.lognav {
    transition: 1s ease;
}

.lognav:hover {
    box-shadow: 0 0 0 1px #181D31;
    border-radius: 10px;
    transition: 1s ease;
}

nav {
  display: flex;
  justify-content: space-between;
}

.gridbox {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.item2, .item3, .item4, .item5 {
  margin-left: 21px;
}

.entry{
  width: 100%;
  height: 500px;
  background-color: #181D31;
  /* border-radius: 50% / 0 0 0 -50%; */
  position: absolute;
  margin: 0px;
  padding: 0px;
}

.alternative li {
  color: #F3F9FB;
}

.icon {
  transition: filter 0.1s;
}

#telegram {
  filter: grayscale(100%);
}

#telegram:hover {
  filter: grayscale(0%);
}

#linkedin {
  filter: grayscale(100%);
}

#linkedin:hover {
  filter: grayscale(0%);
}

#twitter {
  filter: grayscale(100%);
}

#twitter:hover {
  filter: grayscale(0%);
}

#instagram {
  filter: grayscale(100%);
}

#instagram:hover {
  filter: grayscale(0%);
}